@import url(http://fonts.googleapis.com/css?family=Open+Sans);


html, body, #map {
  height: 50%;
  width: 50%;
}

#controls {
  width: 100%;
  margin: auto;
  float: center;
}

input[type = "button"] {
  border: none;
  border-radius: 5px;
  color:#FFFAFA;
  font-weight: bolder;
  margin-top: 10px;
  margin-left: 10px; 
  background-color: #FFFFFF;
  opacity: 0.70;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 30px;
}

@keyframes fade {
  from {opacity: 0.1;}
}

.blinking{
  animation: fade 1s infinite alternate;
}
